.cheer-list-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.card {
    background-color: black;
    margin: 10px;
    padding: 8px;
    width: fit-content;
    box-shadow: 0px 0px 10px 1px black;
    
    a {
        color: wheat;
        font-weight: bold;
        text-decoration: none;
    }
    
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px black inset;
        background-color: wheat;
        
        a{
            color: black;
        }
    }
}