
.title-attendance-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    
    .name-date {
        width: 60%;
        margin: 0 10px;
        text-align: left;
        .date {
            opacity: 0.8;
            font-size: 0.8rem;
        }

        .location-name {
            font-size: 2em;
            font-weight: bold;
            font-family: Anton;
        }
    }
    .attending-share {
        flex-grow: 1;
        
        .spot-attendance {       
            .is-going {
                padding: 10px;
                
                .txt {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 20px;
                    
                    .spots-left {
                        opacity: 0.8;
                        font-size: 0.8rem;
                    }
                }
                .btn {
                    width: calc(50% - 5px);
                }
            }
            
            .share {
                display: flex;
                padding: 10px;
                align-items: center;
                span {
                }
                i {
                    font-size: 1.5rem;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: .3s;
                }
                .fa-facebook-square:hover {
                    color:#3b5998;
                }
                .fa-twitter-square:hover {
                    color:#1da1f2;
                }
                .fa-linkedin:hover {
                    color:#007bb5;
                }
                
            }
        }
    }
}

.main-info-container {
    display: flex;
    border: 1px solid red;
    margin: 10px;
    justify-content: space-between;

    .description-attendees {
        width: 70%;
        padding: 10px;

        & > * {
            padding: 0 0 10px;
        }

        .cover-image > * {
            width: 100%;
        }

        .cheer-attendees {
            .attendees {
                display: flex;

                & > * {
                    width: 150px;
                    margin: 5px;
                }
            }
        }
    }

    .date-time-map {
        float: right;
        padding: 10px;
        .icon {
            padding: 0 10px;
        }
        .info {
            padding: 0 10px;
            text-align: left;
        }

        .date-time {
            padding: 0 0 10px;
            display: flex;
        }
        
        .address {
            display: flex;
            padding: 0 0 10px;   
            .city {
                opacity: 0.8;
                font-size: 0.8rem;
            }
        }

        .map > * {
            width: 100%;
        }
    }
}