
.title-attendance-container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    
    .name-date {
        .date {
            opacity: 0.8;
            font-size: 0.8rem;
        }
        width: 60%;
        margin: 0 10px;
    }
    
    .spot-attendance {
        flex-grow: 1;
        
        .is-going {
            margin-bottom: 10px;
            padding: 10px;
        }
    }
}

.main-info-container {
    display: flex;
    border: 1px solid red;
    margin: 10px;
    justify-content: space-between;

    .description-attendees {
        width: 70%;
        padding: 10px;

        & > * {
            padding: 0 0 10px;
        }

        .cover-image > * {
            width: 100%;
        }

        .cheer-attendees {
            .attendees {
                display: flex;

                & > * {
                    width: 150px;
                    margin: 5px;
                }
            }
        }
    }

    .date-time-map {
        
        padding: 10px;
        .icon {
            padding: 0 10px;
        }
        .info {
            padding: 0 10px;
            text-align: left;
        }

        .date-time {
            padding: 0 0 10px;
            display: flex;
        }
        
        .address {
            display: flex;
            padding: 0 0 10px;   
            .city {
                opacity: 0.8;
                font-size: 0.8rem;
            }
        }

        .map > * {
            width: 100%;
        }
    }
}