
.title-attendance-container {
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
    padding: 10px;
    margin: 0 0 0 10px;
    
    
    .name-date {
        
        height: 300px;
        width: 500px;
        background-repeat: no-repeat;
        background-size: 550px;
        background: black(0, 0, 0, 0.3);
        object-fit: cover;
        color: white;
        // text-shadow: 2px 2px #00000071;
        text-shadow: 1px 1px 15px #000000;
        letter-spacing: 2px;
        width: 60%;
        text-align: left;
    
        .dark {
            background-image: linear-gradient(to right bottom, 
            rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        }
        

        .date {
            // opacity: 0.8;
            font-size: 20px;
            padding: 20px;
            font-family: Anton;
            // font-weight: bold;
        }

        .location-name {
            padding: 20px;
            font-size: 2em;
            font-weight: bold;
            font-family: Anton;
        }
    }
    .attending-share {
        flex-grow: 1;
        padding: 10px;
        
        .spot-attendance {       
            .is-going {
                
                .txt {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 20px;
                    
                    .spots-left {
                        opacity: 0.8;
                        font-size: 1.2 rem;
                    }
                }
                .btn {
                    width: calc(50% - 5px);
                }
            }
            
            .share {
                display: flex;
                padding: 10px;
                align-items: center;
                span {
                }
                i {
                    font-size: 1.5rem;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: .3s;
                }
                .fa-facebook-square:hover {
                    color:#3b5998;
                }
                .fa-twitter-square:hover {
                    color:#1da1f2;
                }
                .fa-linkedin:hover {
                    color:#007bb5;
                }
                .fa-whatsapp-square:hover {
                    color:#25d366;
                }
                
            }

        }
    }
    @media (max-width: 600px) {
        .attending-share {
            text-align: center;
            .share {
                justify-content: center;
            }
        }
    }
    
}
        @media (max-width: 600px) {
            .title-attendance-container {
                flex-direction: column;
                width: 100%;
                margin: 0;

                .name-date {
                    width: 100%;
                }
            }
        }

.main-info-container {
    display: flex;
    // border: 1px solid red;
    max-width: 750px;
    margin: 30px;
    justify-content: space-between;

    .description-attendees {
        width: 70%;
        padding: 10px;

        & > * {
            padding: 0 0 10px;
        }

        .cover-image > * {
            width: 100%;
        }

        .cheer-attendees {
            .attendees {
                display: flex;

                & > * {
                    width: 150px;
                    margin: 5px;
                }
            }
        }
    }

    .date-time-map {
        float: right;
        padding: 10px;
        .icon {
            padding: 0 10px;
        }
        .info {
            padding: 0 10px;
            text-align: left;
        }

        .date-time {
            padding: 0 0 10px;
            display: flex;
        }
        
        .address {
            display: flex;
            padding: 0 0 10px;   
            .city {
                opacity: 0.8;
                font-size: 0.8rem;
            }
        }

        .map > * {
            width: 400px;
        }
    }
}

.user-card { 
    cursor: pointer;
}

.categories h2 {
    width: fit-content;
    padding: 5px;
    margin: 10px;
    border: 1px lightgrey solid;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

.categories {
    margin-top: 20px;
}

.attens-num {
    font-size: 20px;
    padding: 20px;
    font-family: Anton;
}

.map img {
    width: 400px;
}