
.filter-container {
    padding: 30px 50px 40px;
    margin-left: 20px;
    background-color: white;
    opacity: 0.7;
    border-radius: 3%;
    .filter-input {
      padding: 17px;
      background-color: rgba(228, 224, 224, 0.411);
      font-size: 15px;
      margin: 15px;
    }
    & h2 {
      margin-bottom: 15%;
      text-align: center;
    }
    & .filter-buttons {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
    }

  }