// ALL STEPS
.add-form {
    margin: 15px;

    & h5 {
        margin-bottom: 10px;
        font-size: 15px;
        margin-bottom: 40px;
    }

    & h1 {
        margin-bottom: 10px;
        font-size: 15px;
    }
    & input {
        width: 500px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 40px;
        font-size: 12px;
        padding: 0 20px;
        align-self: center;
        text-align: center;
      }
      input::placeholder {
        text-align: center;
      }

      .el-button {
        padding: 12px 12px;
      }

    // & .btn-holder {
    //   display: flex;
    //   width: fit-content;
    //   text-align: center;
    // }

  }
  
  [class^=step] {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 50vh;
      padding: 20px;
  }
  .next-step-btn {
    max-width: 100px;
    text-align: center;
  }
// STEP 2
.categories-holder {
  margin-bottom: 20px;
}
  .category-select {
    padding: 5px;
    margin: 5px;
    border: 1px lightgrey solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category-select:hover {
    background-color: rgba(236, 208, 208, 0.249);
  }
  .categoryactive {
    box-shadow: 0 0 10px 0 var(--secondary) inset;
  }
  // STEP 3
.el-input {
  width: fit-content;
}


.next-step-btn {
  margin-top: 10px;
}

.add-form .fill-alert {
  margin: 10px;
}

input.el-input__inner{
  width: 220px;
}
  
.create-cheer-page {
  min-height: 100vh;
  height: 100%;
  background-color: var(--main);
}

