@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/Nunito-Light.ttf');
}
@font-face {
    font-family: Lobster;
    src: url('../fonts/Lobster/Lobster-Regular.ttf');
}