/* Helpers */

/* Lists */

.clean-list {
    list-style-type: none;

}

/* flex helpers */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}