.home {
    // background-image: url('../img/bgs/beers.jpeg');
    background-image: url('../img/bgs/mates.jpeg');
    // background: url('./beers.jpeg');
    width: 100%;
    height: 550px;
    // height: 1000px;
}

.add-cheer, .find-cheer {
    height: 250px;
    width: 250px;
    cursor: pointer;
    font-size: 30px;
    margin: 15px;
    color: white;
}

