.home {
    background-image: url('../img/bgs/bg74.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    width: 100vw;
    height: 90vh;
}

.add-cheer, .find-cheer {
    height: 250px;
    width: 250px;
    cursor: pointer;
    font-size: 30px;
    margin: 15px;
    color: white;
}

