

.home {
    display: flex;
    align-items: center;
    background-image: url('../img/bgs/bg74.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
}

.add-cheer, .find-cheer {
    height: 250px;
    width: 250px;
    font-size: 30px;
    margin: 15px;
    color: white;
    cursor: pointer;
}

.links-container {
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 95px;
    height: 100%;
    padding: 0;
    margin: 0;
    height: 200px;

}

.circle {
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: white;
    opacity: 0.7;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle:hover {
    background-color: rgba(245, 230, 202, 0.516);
}

.link h3 {
    text-align: center;

}

.head-txt {
    color: white; 
    font-size: 50px; 
    font-weight: bold; 
    width: 900px;
}
