.user-image {
    max-height: 250px;
    border-radius: 30%;
    align-items: center;
    margin: 20px;

}

.user-header {
    background-image: url('../img/bgs/user.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    width: 100%;
    align-items: center;

    h1 {
        font-size: 40px;
        margin: 20px;
        color: white;
        text-shadow: 2px 2px #0000003b;

    }

}

